.symbolCard {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 16px 0 rgba(14, 17, 35, 0.1);
  margin: 0;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  transition: box-shadow 0.2s, transform 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.symbolCard--active {
  box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.8), 0 2px 16px 0 rgba(14, 17, 35, 0.1);
  transform: scale(1.02);
  z-index: 1;
}

.symbolCard--inactive {
  transform: scale(0.98);
  z-index: 0;
}

.symbolCard__shake {
  animation: shake 0.62s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.symbolCard__header {
  background: #181c2e;
  color: #fff;
  border-radius: 12px 12px 0 0;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 5px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.symbolCard__trendWrapper {
  position: absolute;
  top: -18px;
  right: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 2;
}

.symbolCard__trend {
  width: 56px;
  height: 48px;
  filter: drop-shadow(0 0 12px #7fff7f);
}

.symbolCard__priceRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 5px;
}

.symbolCard__priceLabel {
  font-weight: 600;
  font-size: 1.1rem;
  color: #222;
}

.symbolCard__priceValue {
  font-size: 2.2rem;
  font-weight: 700;
  color: #181c2e;
  margin-left: 8px;
}

.symbolCard__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 5px;
}

.symbolCard__flash--green {
  box-shadow: 0 0 16px 4px rgb(42, 161, 42, 0.8);
}

.symbolCard__flash--red {
  box-shadow: 0 0 16px 4px rgba(255, 127, 127, 0.8);
}

.symbolCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: min-content;
  gap: 40px;
  width: 100%;
  align-items: stretch;
  justify-items: stretch;
}

@media (max-width: 1280px) {
  .symbolCardGrid {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

@media (max-width: 1024px) {
  */ .symbolCard {
    background: #fff;
    border-radius: 12px;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    transition: box-shadow 0.2s, transform 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-2px);
  }

  20%,
  80% {
    transform: translateX(4px);
  }

  25%,
  35%,
  45%,
  55%,
  65%,
  75% {
    transform: translateX(-6px);
  }

  30%,
  40%,
  50%,
  60%,
  70% {
    transform: translateX(6px);
  }
}
