.root {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-xs);
}

.icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.label {
  color: var(--colorTextSecondary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}