.priceChart {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
}

@media (max-width: 1023px) {
  .priceChart {
    max-height: 250px;
    height: 180px;
    width: 100%;
  }
}
