.priceChart {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: var(--colorWhite);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.priceChart__info {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--colorDark);
}

.priceChart--error,
.priceChart--empty {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--colorDark);
  font-size: 14px;
}

.priceChart--error {
  color: #dc3545;
}

@media (max-width: 1023px) {
  .priceChart {
    max-height: 250px;
    height: 180px;
    width: 100%;
  }
}